<h2>Login</h2>
<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="form.username" required #username="ngModel"/>
    <div role="alert" *ngIf="f.submitted && username.invalid">
      Username is required
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
    <div role="alert" *ngIf="f.submitted && password.invalid">
      <div *ngIf="password.errors.required">
        Password is required
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div>

  <button>Login</button>
  <div role="alert" *ngIf="f.submitted && isLoginFailed">
    Login failed: {{errorMessage}}
  </div>
  <button [routerLink]="['/register']" >Register</button>
</form>
<div *ngIf="isLoggedIn">
  Your are logged in!
</div>
