
<h1>Book Island</h1>
<button [routerLink]="['/catalog']">Каталог</button>

<div *ngIf="!isLoggedIn">
  <button [routerLink]="['/shop-cart']">Корзина</button>
  <button [routerLink]="['/register']">Регистрация</button>
  <button [routerLink]="['/login']">Вход</button>
</div>
<div *ngIf="isLoggedIn" style="display: flex;">
  <p>Вы вошли как: {{username}}</p>
  <button [routerLink]="['/shop-cart']">Корзина</button>
  <button *ngIf="adminRights" [routerLink]="['/user-list']">Список пользователей</button>
  <button (click)="logout()">Выход</button>
</div>


