
<h1 [routerLink]="['/catalog']">Book Island</h1>
<button [routerLink]="['/shop-cart']">ShoppingCart</button>



<div *ngIf="!isLoggedIn">
  <button [routerLink]="['/register']">Register</button>
  <button [routerLink]="['/login']">Login</button>
</div>
<div *ngIf="isLoggedIn" style="display: flex;">
  <p>You are logged in as: {{username}}</p>
  <button *ngIf="adminRights" [routerLink]="['/user-list']">Users list</button>
  <button (click)="logout()">Logout</button>
</div>
<button [routerLink]="['/user-order']">My orders</button>

