<mat-form-field style="width: 100%;">
  <mat-label>Выбрать жанр</mat-label>
  <mat-select matNativeControl [(value)]="selectGenre">
    <mat-option>Все книги</mat-option>
    <mat-option *ngFor="let genre of genres "  [value]="genre.name">{{genre.name}}</mat-option>
  </mat-select>
</mat-form-field>
<div *ngFor="let book of books | async" class="product">
  <div *ngIf="book.genre == selectGenre || selectGenre == null">
    <img [src]="book.img" [alt]="book.title" width="100%" class="img-catalog">
    <div>{{book.title}}</div>
    <button [routerLink]="['/book-details',book.id]" >Выбрать</button>
  </div>
</div>
<router-outlet></router-outlet>

